/* ArtworkCard.module.css */

.ArtworkCard {
    position: relative;
    height: 15rem;
    width: 15rem;
    /* border: 2px solid black; */
    background-color: var(--color-white);
    /* box-shadow: 8px 8px 15px #bebebe,
    -8px -8px 15px #ffffff; */
    border-radius: 0.25rem;
    overflow: hidden;
  }
  
  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  